---
  - name: install MySQL
    apt:
      pkg: "{{ item }}"
      state: present
      update_cache: yes
      cache_valid_time: 3600
    with_items:
     - mysql-server
     - mysql-client
     - python-mysqldb
     - libmysqlclient-dev
